@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* styling scrollbar start */
.reminder-section::-webkit-scrollbar {
  width: 4px;
}
.reminder-section::-webkit-scrollbar-track {
  background: #fff2d8;
}
.reminder-section::-webkit-scrollbar-thumb {
  background-color: #ffa002;
  border-radius: 4px;
}
/* styling scrollbar end*/
